@model CRUD1.Models.ModelProductoPromocion

@{
    ViewData["Title"] = "Crear";
}

<h1>Crear Producto en Promocion</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Crear" asp-controller="ProductoPromocion" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="productoID" class="control-label"></label>
                <input asp-for="productoID" class="form-control" />
                <span asp-validation-for="productoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="promocionID" class="control-label"></label>
                <input asp-for="promocionID" class="form-control" />
                <span asp-validation-for="promocionID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fecha_inicio" class="control-label"></label>
                <input asp-for="fecha_inicio" class="form-control" />
                <span asp-validation-for="fecha_inicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fecha_fin" class="control-label"></label>
                <input asp-for="fecha_fin" class="form-control" />
                <span asp-validation-for="fecha_fin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Listar">Volver al listado</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
