@model CRUD1.Models.ModelProveedor

@{
    ViewData["Title"] = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Nuevo Proveedor 
    </div>
    <div class="card-body">
        <form>
            <div class="mb-3">
                <label for="nombre_prov" class="form-label">Nombre</label>
                <input asp-for="nombre_prov" class="form-control" />
                <span asp-validation-for="nombre_prov" class="text-danger"></span>  
            </div>
            <div class="mb-3">
                <label for="direccion" class="form-label">Direccion</label>
                <input asp-for="direccion" class="form-control" />
                <span asp-validation-for="direccion" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="cuit" class="form-label">CUIT</label>
                <input asp-for="cuit" class="form-control" />
                <span asp-validation-for="cuit" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="categoria" class="form-label">Categoria</label>
                <input asp-for="categoria" class="form-control" />
                <span asp-validation-for="categoria" class="text-danger"></span>
            </div>
           

            <button type="submit" class="btn btn-primary">Guardar</button>

            <a asp-action="Listar" asp-controller="Proveedor" class="btn btn-warning">Volver al listado</a>

        </form>

    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
