@model CRUD1.Models.ModelProveedor

@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Eliminar Proveedor
    </div>
    <div class="card-body">
        <form asp-action="Eliminar" asp-controller="Clientes" method="post">
            <input asp-for="proveedorID" type="hidden" class="form-control" />

            <div class="alert alert-danger" role="alert">
                ¿Desea eliminar el Proveedor "@Html.DisplayFor(model => model.proveedorID)"?
            </div>

            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a asp-action="Listar" asp-controller="Proveedor" class="btn btn-warning">Volver al listado</a>
        </form>
    </div>
</div>
