@model CRUD1.Models.ModelUsuarios

@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Eliminar Usuario
    </div>
    <div class="card-body">
        <form asp-action="Eliminar" asp-controller="Usuarios" method="post">
            <input asp-for="email" type="hidden" class="form-control" />

            <div class="alert alert-danger" role="alert">
                ¿Desea eliminar el Usuario "@Html.DisplayFor(model => model.email)"?
            </div>

            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a asp-action="Listar" asp-controller="Usuarios" class="btn btn-warning">Volver al listado</a>
        </form>
    </div>
</div>
