@model CRUD1.Models.ModelProducto

@{
    ViewData["Title"] = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Nuevo Producto
    </div>

    <div class="card-body">
        <form asp-action="Crear" asp-controller="Producto">
            <div class="mb-3">
                <label for="proveedorID" class="form-label">ID Proveedor</label>
                <input asp-for="proveedorID" class="form-control" />
                <span asp-validation-for="proveedorID" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="nom_producto" class="form-label">Nombre del Producto</label>
                <input asp-for="nom_producto" class="form-control" />
                <span asp-validation-for="nom_producto" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="precio" class="form-label">Precio</label>
                <input asp-for="precio" class="form-control" />
                <span asp-validation-for="precio" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="stock" class="form-label">Stock</label>
                <input asp-for="stock" class="form-control" />
                <span asp-validation-for="stock" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="link_imagen" class="form-label">Link a Imagen</label>
                <input asp-for="link_imagen" class="form-control" />
                <span asp-validation-for="link_imagen" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Crear</button>

            <a asp-action="Listar" asp-controller="Producto" class="btn btn-warning">Volver al listado</a>
            
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
