@model CRUD1.Models.ModelPromocion

@{
    ViewData["Title"] = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Nueva Promocion
    </div>
    <div class="card-body">
        <form>
            <div class="mb-3">
                <label for="descuento" class="form-label">Descuento</label>
                <input asp-for="descuento" class="form-control" />
                <span asp-validation-for="descuento" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="nom_promo" class="form-label">Nombre</label>
                <input asp-for="nom_promo" class="form-control" />
                <span asp-validation-for="nom_promo" class="text-danger"></span>
            </div>
            

            <button type="submit" class="btn btn-primary">Crear</button>

            <a asp-action="Listar" asp-controller="Promocion" class="btn btn-warning">Volver al listado</a>

        </form>

    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
