@model CRUD1.Models.ModelClientes

@{
    ViewData["Title"] = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
  <div class="card-header">
    Nuevo Cliente
  </div>
  <div class="card-body">
        <form>
            <div class="mb-3">
                <label for="Clientes_ID" class="form-label">Cliente ID</label>
                <input asp-for="clientes_ID" class="form-control" />
                <span asp-validation-for="clientes_ID" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="nombre_clie" class="form-label">Nombre</label>
                <input asp-for="nombre_clie" class="form-control" />
                <span asp-validation-for="nombre_clie" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="apellido_clie" class="form-label">Apellido</label>
                <input asp-for="apellido_clie" class="form-control" />
                <span asp-validation-for="apellido_clie" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="cuit_clie" class="form-label">CUIT</label>
                <input asp-for="cuit_dni" class="form-control" />
                <span asp-validation-for="cuit_dni" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="razonsocial_clie" class="form-label">Razon Social</label>
                <input asp-for="razonsocial_clie" class="form-control" />
                <span asp-validation-for="razonsocial_clie" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="tipo_cliente" class="form-label">Tipo de Cliente</label>
                <input asp-for="tipo_cliente" class="form-control" />
                <span asp-validation-for="tipo_cliente" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="id_usuario" class="form-label">Id Usuario</label>
                <input asp-for="id_usuario" class="form-control" />
                <span asp-validation-for="id_usuario" class="text-danger"></span>
            </div>
            
            <button type="submit" class="btn btn-primary">Guardar</button>
            
            <a asp-action="Listar" asp-controller="Clientes" class="btn btn-warning">Volver a la lista de clientes</a>
           
        </form>

  </div>
</div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
